.reveal h1,
.reveal h2,
section.has-dark-background h2 {
  color: rgb(0, 119, 255);
}

.reveal .slide-background-content {
  background-color: cornsilk;
}

.hljs-comment {
  color: rgb(18, 223, 18);
}

.hljs {
  color: #ffffff;
}

section.has-dark-background {
  color: #f26225;
}